<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.androidtown.sample130" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >

        <!-- 맨 처음 로고 화면 -->
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 여기 바로 위에 적힌 코드가 바로 시작하게 하는 것! -->
        </activity>

        <!-- 기존의 MainActivity -->
        <activity
            android:name=".Startmenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Mainlist"
            android:label="@string/title_activity_mainlist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Mylist"
            android:label="@string/title_activity_mylist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContentActivity"
            android:label="@string/title_activity_content"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LongLitActivity"
            android:label="@string/title_activity_long_lit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContentLongActivity"
            android:label="@string/title_activity_content_long2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KSATList"
            android:label="@string/title_activity_ksatlist"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
